body {
    font-family: 'Inter';
    font-weight: 400; /* largura da fonte */
}

.container {
    width: 1200px; /* largura */
    margin: 0 auto; /* 0px para cima e automatico nas laterais */
}

.flex {
    display: flex;
    flex-direction: row; /* direção das caixas (box) na horizontal */
}

header {
    padding: 30px 0;
}

header .flex {
    justify-content: space-between; /* espaços entre as caixas */
}

nav {
    background-color: #202020;
    padding: 20px 0px;
}

nav .flex {
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase; /* letra maiuscula */    /* capitalaze = primeira letra maiuscula segunda minuscula*/ 
}
